{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AnsibleRoleList",
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket",
                "s3:ListBucketMultipartUploads",
                "s3:ListMultipartUploadParts"
            ],
            "Resource": [
                "arn:aws:s3:::{{ item.bucket }}"
            ]
        },
        {
            "Sid": "AnsibleRoleDelete",
            "Effect": "Allow",
            "Action": [
                "s3:DeleteObject"
            ],
            "Resource": [
                "arn:aws:s3:::{{ item.bucket }}/*"
            ]
        }
    ]
}
